.blog-pagination {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

    .page-item {

      &.active {
        .page-link {
          color: #62676a;
        }
      }

      &:not(.active) {
        .page-link {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &.disabled {
        .page-link {
          pointer-events: none;
          color: #6c757d;
        }
      }

      a {
        text-decoration: none;
        color: #276d9b;
        padding: 5px 10px;
        border-radius: 4px;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: #6c757d;
        padding: 5px 10px;
        display: inline-block;
      }
    }
  }
}

.blog-post-tag {
  margin-block: 1rem;

  a {
    background: #f1f1f1;
    border-radius: 6px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 12px;
    color: #034ad8;
    font-weight: 500;
    margin-right: 1rem;
  }
}
