---

const { code, lang } = Astro.props;
let innerContent = await Astro.slots.render("default")


innerContent = innerContent.replaceAll("&quot;",`"`)
							.replaceAll("&amp;","&")
							.replaceAll("&#39;","'")
							.replaceAll("&lt;","<")
							.replaceAll("&gt;",">")

let html = `<div class="highlight hljs language-${lang}">`;
html += "```"+lang+"\n"+innerContent+"\n```";
html += `</div>`;


---

<Fragment set:html={html} />