---
import hljs from 'highlight.js';

const { code, lang = 'js' } = Astro.props;



let highlightedCode = hljs.highlight(code, { language: lang }).value;

highlightedCode = highlightedCode.replaceAll("&quot;",`"`)
.replaceAll("&amp;","&")
.replaceAll("&#39;","'")
.replaceAll("&lt;","<")
.replaceAll("&gt;",">")


let html = `<div class="hljs ${lang}">${"```"+lang+"\n"+highlightedCode+"\n"+"```"}</div>`;
---

<Fragment set:html={html} />